="From: Freed <#{from}>"
="To: #{to}"
="Subject: A page you've Freed has been updated!"
="Date: #{Time.now.rfc2822}"
="\r\n"
="\r\n"
="Freed has detected a change on #{feed_url}."
="\r\n"

- changes.each do |c|
  - if c.delete?
    = "- #{c.delete}"
  - if c.insert?
    = "+ #{c.insert}"
  ="\r\n"
  ="--------------------"
  ="\r\n"