="From: Freed <#{from}>"
="To: #{to}"
="Subject: A page you've Freed has been updated!"
="Date: #{Time.now.rfc2822}"
="\r\n"
="\r\n"

="Freed has detected a change on #{feed.feed_url}."
="\r\n"

- feed.changes.each do |c|
  - if c.delete?
    = "- #{c.delete}"
  - if c.insert?
    = "+ #{c.insert}"
  ="\r\n"
  ="--------------------"
  ="\r\n"

="Click the following link to disable notifications for #{feed.feed_url}"
="#{FREED_URL}/feed/#{feed.id}/delete?sig=#{feed.signature}"

="\r\n"
\--
="Freed #{FREED_URL}"
