="From: Freed <#{from}>"
="To: #{to}"
="Subject: Please verify your Freed removal"
="Date: #{Time.now.rfc2822}"
="\r\n"
="\r\n"

="Someone has requested Freed notifications for #{feed.feed_url} to be removed."
="\r\n"
Please click the following link to confirm this request:
="#{FREED_URL}/feed/#{feed.id}/delete?sig=#{feed.signature}"

="\r\n"
\--
="Freed #{FREED_URL}"
