:ruby
  def time_ago(time)
    seconds = (Time.now - Time.at(time.to_i)).to_i
    hours, seconds = seconds.divmod 60*60
    minutes, seconds = seconds.divmod 60
    "#{pad(hours)}:#{pad(minutes)}:#{pad(seconds)}"
  end

  def pad(i)
    i.to_i < 10 ? "0#{i}" : i.to_s
  end

%html
  %head
    %title Freed
    %link{ href: 'freed.css', media: 'screen', rel: 'stylesheet', type: 'text/css' }

  %body
    .new_feed
      %form{ action: '/feed', method: :post }
        %input{ type: 'text', name: 'feed_url', placeholder: 'Feed Url', size: 50 }
        %input{ type: 'text', name: 'notify_email', placeholder: 'Your Email', size: 50 }
        %select{ name: 'frequency' }
          %option{ disabled: true, selected: true } Frequency
          %option{ value: 1    } &nbsp;&nbsp; 1 minute
          %option{ value: 2    } &nbsp;&nbsp; 2 minutes
          %option{ value: 5    } &nbsp;&nbsp; 5 minutes
          %option{ value: 10   } &nbsp;&nbsp; 10 minutes
          %option{ value: 30   } &nbsp;&nbsp; 30 minutes
          %option{ value: 60   } &nbsp;&nbsp; 1 hour
          %option{ value: 1440 } &nbsp;&nbsp; 24 hours
        %input{ type: 'submit' }

    %p
      %table
        %th Feed URL
        %th Email Address
        %th Verified?
        %th Frequency
        %th Last Checked
        %th
        - feeds.each do |feed|
          %tr{ id: feed.id }
            %td
              %a{ href: feed.feed_url, target: '_blank' }= feed.feed_url
            %td= feed.notify_email.split('@')[0] + '@...'
            %td= feed.email_verified? ? "Yes" : "<b>No</b>"
            %td= feed.frequency + (feed.frequency == '1' ? ' minute' : ' minutes')
            %td{ 'data-last-digest' => feed.last_digest }
              = time_ago(feed.last_checked) + " ago"
            %td
              %a.delete{ href:'javascript:' } delete
  %footer
    %script{ type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
    %script{ type: 'text/javascript', src: 'freed.js' }

