%html
  %head
    %title Freed
    :css
      td{padding: 0px 25px}

  %body{ style: 'font-family:monospace' }

    %p
      %form{ action: '/feed', method: :post }
        %input{ type: 'text', name: 'feed_url', placeholder: 'Feed Url', size: 50 }
        %input{ type: 'text', name: 'notify_email', placeholder: 'Your Email', size: 50 }
        %select{ name: 'frequency' }
          %option{ disabled: true, selected: true } Frequency
          %option{ value: 1} &nbsp;&nbsp;1 minute
          %option{ value: 2} &nbsp;&nbsp;2 minutes
          %option{ value: 5 } &nbsp;&nbsp;5 minutes
          %option{ value: 10} &nbsp;&nbsp;10 minutes
          %option{ value: 30} &nbsp;&nbsp;30 minutes
          %option{ value: 60} &nbsp;&nbsp;1 hour
          %option{ value: 1440} &nbsp;&nbsp;24 hours
        %input{ type: 'submit' }

    %p
      %table
        %th Feed URL
        %th Email Address
        %th Verified?
        %th Frequency
        %th Last Updated
        - feeds.each do |feed_id, feed|
          %tr{ id: feed_id }
            %td= feed['feed_url']
            %td= feed['notify_email']
            %td= feed['email_verified'] == 'true' ? "Yes" : "No"
            %td= feed['frequency'] + (feed['frequency'] == '1' ? ' minute' : ' minutes')
            %td{ 'data-last-digest' => feed['last_digest'] }
              = Time.at(feed['last_update'].to_i).localtime

